{% extends 'base-back.html.twig' %}


{% block body %}
    <h1>  <div class="card mb-4 py-3 border-bottom-primary">
            <div class="card-body">
                Bienvenue cher Administrateur
            </div>
        </div></h1>

{% endblock %}
